<div class="footer-copyright">
    Thanks for dropping by, welcome to my blog!&nbsp;<br><br/>
    {{ "number of posts : " }}{{ site.posts.size }},&nbsp;
    {{ "last updated on : " }}{{ "now" | date: "%Y-%m-%d %H:%M" }}<br><br/>
    <a href="https://whoisrealminjueun.github.io/feed.xml">RSS(클릭)</a>&nbsp;<br><br/>
    <a href="https://mega.nz/file/sL9QyRCa#Fk2D86LNPFbgXLYgFEbztoxZisk8EsxaIpF2v9z8l_I">블로그 앱 다운로드 (클릭)</a>&nbsp; <div class="footer-copyright-text float-left">Copyright 2020~2024 minjueun All rights reserved.</div>
    <div class="clearfix"></div>  <!-- clearfix 추가 -->
</div>
