<div class="footer-copyright">
    Thanks for dropping by, welcome to the my blog!&nbsp
    {{ "number of posts : " }}{{ site.posts.size }},&nbsp
    {{ "last updated on : " }}{{ "now" | date: "%Y-%m-%d %H:%M" }}&nbsp
    <a href="https://whoisrealminjueun.github.io/feed.xml">RSS(클릭)</a>&nbsp
    <a href="https://mega.nz/file/sL9QyRCa#Fk2D86LNPFbgXLYgFEbztoxZisk8EsxaIpF2v9z8l_I">블로그 앱 다운로드 (클릭)/a>&nbsp
    <span class="footer-copyright-text float-left">Copyright 2020~2024 minjueun All rights reserved.</span>
</div>
