/*
 * category.scss
*/

@charset "utf-8";

.categories-list {
  line-height: 24px;
  margin-left: 0;
  list-style-type: none;
}

.categories-list li h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #333;
}

.category-list-item {
  display: block;
  position: relative;
  margin: 7px 0;
  overflow: hidden;
  line-height: 24px;
}

.category-list-item-name {
  width: calc(100% - 100px);
  font-weight: 300;
}
