/*
 * category.scss
*/

@charset "utf-8";

.categories-list {
  line-height: 24px;
  margin-left: 0;
  list-style-type: none;
}

.categories-list li h2 {
  font-size: 1.8em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #ffcc00;
  text-transform: uppercase;
  border-bottom: 2px solid #ffcc00;
  padding-bottom: 5px;
  cursor: pointer;
}

.posts-list {
  margin-top: 10px;
}

.hidden {
  display: none;
}
